@model List<Test2405.Models.AnnouncementModel>
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<br />

<center>
    <b>Announcement Log</b>
</center>

<br />

<div align="right">
    <div style="padding-right:10em;position:relative;display:inline-block;">
        <img id="up_file" src="~/images/search_icon.svg" width="25" height="25" style="margin-top:1%;left:60%;cursor:pointer;position:absolute;" />
        @Html.TextBox("Search", "", new { @placeholder = "Search", @class = "form-control", @style = "width:200px;" })

        <input type="file" id="file_input" name="file_input" style="display:none;" onchange="rewrite(this.value)" />
    </div>
</div>


@using (Html.BeginForm("", "Main", new { pageName = "" }, FormMethod.Post))
{
    <br />
    <table style="border:1px solid #ddd;" cellspacing="0" cellpadding="2" width="100%">
        <tr style="background-color:#eaeaea;text-align:center;">

            <td style="border-right:1px solid #ddd;">
                Created On
            </td>
            <td style="border-right:1px solid #ddd;">
                Send On
            </td>
            <td style="border-right:1px solid #ddd;">
                Notifications
            </td>
            <td style="border-right:1px solid #ddd;">
                Status
            </td>
            <td style="border-right:1px solid #ddd;">By</td>
            <td style="border-right:1px solid #ddd;"></td>
        </tr>

        @for (var i = 0; i < Model.Count(); i++)
        {
            <tr style="text-align:center;">

                <td>
                    @Html.DisplayFor(modelitem => Model[i].AnnouncementCreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => Model[i].AnnouncementSendOn)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => Model[i].AnnouncementMessage)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => Model[i].AnnouncementStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => Model[i].AnnouncementBy)
                </td>
                <td>
                    <a href="@Url.Action("", "Main", new { ID = Model[i].AnnouncementID })">
                        <img src="~/images/paper_icon.svg" width="25" height="25" />
                    </a>
                </td>

            </tr>
        }
    </table>
}
