@model List<Test2405.Models.NotificationModel>
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<br />

<center>
    <b>Notification Sent Log</b>
</center>

<br />

<div align="right" style="padding-right:10em;position:relative;display:inline-block;">
    <img id="up_file" src="~/images/search_icon.svg" width="25" height="25" style="margin-top:1%;left:60%;cursor:pointer;position:absolute;" />
    @Html.TextBox("Search", "", new { @placeholder = "Search", @class = "form-control", @style = "width:200px;" })

    <input type="file" id="file_input" name="file_input" style="display:none;" onchange="rewrite(this.value)" />
</div>

@using (Html.BeginForm("", "Main", new { pageName = "" }, FormMethod.Post))
{
    <br />
    <table style="border:1px solid #ddd;" cellspacing="0" cellpadding="2" width="1080">
        <tr style="background-color:#eaeaea;text-align:center;">

            <td style="border-right:1px solid #ddd;">
                Posted On
            </td>
            <td style="border-right:1px solid #ddd;">
                Platform
            </td>
            <td style="border-right:1px solid #ddd;">
                Notifications
            </td>
            <td style="border-right:1px solid #ddd;">
                Status
            </td>
            <td style="border-right:1px solid #ddd;">By</td>
            <td style="border-right:1px solid #ddd;"></td>
        </tr>

        @for (var i = 0; i < Model.Count(); i++)
        {
            <tr style="text-align:center;">

                <td>
                    @Html.DisplayFor(modelitem => Model[i].NotificationSendOn)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => Model[i].NotificationPlatform)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => Model[i].NotificationMsg)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => Model[i].NotificationStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => Model[i].NotificationBy)
                </td>
                <td>
                    <a href="@Url.Action("", "Main", new { ID = Model[i].NotificationID })">
                        <img src="~/images/paper_icon.svg" width="25" height="25" />
                    </a>
                </td>

            </tr>
        }
    </table>
}
