@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Test2405.Models.OptionModel>
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@using (Html.BeginForm("SubmitSettings", "Main", FormMethod.Post))
{
    <br />
    <b>Maintenance</b>

    <table>
       
            @for (var i = 0; i < Model.Count(); i++)
            {
                if (Model[i].OptionName == "Enable Content Feedback")
                {
                    <tr><td><br /><b>App Configurations</b></td></tr>
                }

                    <tr>
                        <td align="left">
                            @Html.DisplayFor(modelitem => Model[i].OptionName)
                            @Html.HiddenFor(modelitem => Model[i].OptionName)
                        </td>
                        <td align="left" class="tablealign">
                            @Html.HiddenFor(modelitem => Model[i].OptionType)
                            @if (Model[i].OptionType == "boolean")
                            {
                                <label class="switch">
                                    @Html.CheckBoxFor(modelitem => Model[i].OptionValueBool)
                                    <span class="slider"></span>
                                </label>
                            }
                            else if (Model[i].OptionType == "string")
                            {
                                @Html.TextBoxFor(modelitem => Model[i].OptionValueString, new { @class = "form-control" })
                            }
                            else if (Model[i].OptionType == "calender")
                            {
                                <i>Start:</i> @Html.TextBoxFor(modelitem => Model[i].OptionValueDate, new { @class = "form-control" })
                            }

                        </td>

                        <!-- add additional td for specific ones -->
                        @if (Model[i].OptionName == "Enable CRM Signup"
                        || Model[i].OptionName == "Enable Help URL")
                        {
                            i++;
                            @Html.HiddenFor(modelitem => Model[i].OptionType)
                            @Html.HiddenFor(modelitem => Model[i].OptionName)
                            <td align="left" class="tablealign">
                                @Html.TextBoxFor(modelitem => Model[i].OptionValueString, new { @class = "form-control" })
                            </td>
                        }
                        else if (Model[i].OptionName == "Next Scheduled Down Time")
                        {
                            i++;
                            @Html.HiddenFor(modelitem => Model[i].OptionType)
                            @Html.HiddenFor(modelitem => Model[i].OptionName)
                            <td align="left" class="tablealign">
                                <i>End:</i> @Html.TextBoxFor(modelitem => Model[i].OptionValueDate, new { @class = "form-control" })
                            </td>

                        }
                    </tr>

            }

        <tr>
            <td></td>
            <td></td>
            <td align="right"></td>
        </tr>
        
    </table>

    <button type="submit" class="w3-button w3-green">Apply</button>

}


