@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Test2405.Models.OptionModel>
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

</br>


@using (Html.BeginForm("SubmitSettings", "Main", new { pageName = "ApplicationUpdates" }, FormMethod.Post))
{
    <b>Settings</b>

    <table>

        @for (var i = 0; i < Model.Count(); i++)
        {
            <tr>
                <td align="left">
                    @Html.DisplayFor(modelitem => Model[i].OptionName)
                    @Html.HiddenFor(modelitem => Model[i].OptionName)
                </td>
                <td align="left" class="tablealign">
                    @if (Model[i].OptionType == "string")
                    {
                        if (Model[i].OptionName != "Update History")
                        {
                            @Html.TextBoxFor(modelitem => Model[i].OptionValueString, new { @class = "form-control" })
                        }
                        else
                        {
                            @Html.TextAreaFor(modelitem => Model[i].OptionValueString, new { @class = "form-control" })
                        }

                    }
                    else if (Model[i].OptionType == "calender")
                    {
                        @Html.TextBoxFor(modelitem => Model[i].OptionValueDate, new { @class = "form-control" })
                    }

                </td>
            </tr>
        }
        
        <tr>
            <td></td>
            <td align="right"><button type="submit" class="w3-button w3-green">Apply</button></td>
            
        </tr>
    </table>
}
