@model Test2405.Models.NotificationModel
@section scripts {
    <script type="text/javascript">
    $("#up_file").click(function () {
        $("#file_input").trigger('click');

        });

        function rewrite(value) {
            filename = value.split('\\').pop().split('/').pop();
            document.getElementById("NotificationIcon").value = filename;
        }
    </script>
}
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<br />

<center><b style="text-align:center;">Notification</b></center>
<br />

@using (Html.BeginForm("UpdateNotification", "Main", new { id = Model.NotificationID }, FormMethod.Post))
{
    <br />
    <table>
        <tr>
            <td align="left" class="tablealign">
                
                <button type="submit" class="w3-button w3-blue" style="border-radius:4px;">Save & Close</button>
                <button type="submit" class="w3-button w3-blue" style="border-radius:4px;">Cancel</button>
            </td>
            <td></td>
            <td align="right" class="tablealign">
                <button type="button" onclick="location.href='@Url.Action("DeleteNotification","Main",new { id = Model.NotificationID })'"class="w3-button w3-red" style="border-radius:4px;">Delete</button>
            </td>
        </tr>
        <tr>
            @{
                Boolean android = false;
                Boolean ios = false;
                if (Model.NotificationPlatform == "APNS(iOS)/GCM(Android)")
                {
                    android = ios = true;
                }
                else if (Model.NotificationPlatform == "APNS(iOS)")
                {
                    ios = true;
                }
                else if (Model.NotificationPlatform == "GCM(Android)")
                {
                    android = true;
                }
            }
            <td align="left" class="tablealign">
                <div style="position:relative;">
                    <b style="position:absolute;">Platform</b>
                    <label class="switch" style="left:100px;">
                        @Html.CheckBox("apnsIOS", ios)
                        <span class="slider"></span>
                    </label>
                    <i style="padding-left:6.75em;">APNS(iOS)</i>
                </div>
            </td>
            <td align="left" class="tablealign">
                <label class="switch">
                    @Html.CheckBox("gcmAndroid", android)
                    <span class="slider"></span>
                </label>
                <i>GCM(Android)</i>
                <b style="position:absolute;padding-left:2em;">Status : @Html.DisplayFor(m => Model.NotificationStatus, new { @class = "form-control" })</b>
            </td>
        </tr>
        <tr>
            <td></td>
            <td align="left" class="tablealign">
                <div style="position:relative;">
                    <b style="position:absolute;"> Send On :</b>
                    @Html.TextBoxFor(m => Model.NotificationSendOn, new { @class = "form-control", @placeholder = "Send On", @style = "width:200px; position:relative; left:100px;", type = "datetime-local" })

                </div>
            </td>
        </tr>
        <tr>
            <td align="left" class="tablealign">
                <div style="position:relative;display:inline-block">
                    @Html.TextBoxFor(m => Model.NotificationIcon, new { @placeholder = "Notification Icon", @class = "form-control", @style = "width:250px; position:absolute;" })

                    <img id="up_file" src="~/images/paperclip_icon.svg" width="35" height="35" style="cursor:pointer;position:relative;left:250px;" />

                    <input type="file" id="file_input" name="file_input" style="display:none;" onchange="rewrite(this.value)" />

                </div>
            </td>
        </tr>
        <tr>
            <td align="left" class="tablealign">
                @Html.TextBoxFor(m => Model.NotificationMsg, new { @placeholder = "Notification Message", @class = "form-control", @style = "width:400px;" })
            </td>
        </tr>
        <tr>
            <td align="left" class="tablealign">
                @Html.TextBoxFor(m => Model.NotificationActionActivity, new { @placeholder = "Action/Activity on Launch", @class = "form-control", @style = "width:250px;" })
            </td>
        </tr>
        <tr>
            <td align="left" class="tablealign">
                <div style="position:relative;">
                    <b style="position:absolute;">Expiry :</b>
                    @Html.TextBoxFor(m => Model.NotificationExpiry, new { @placeholder = "Expiry", @class = "form-control", @style = "width:200px;left:75px; position:relative;", type = "datetime-local" })
                </div>
            </td>

        </tr>
        <tr>
            <td align="left" class="tablealign">
                @Html.TextBoxFor(m => Model.NotificationPriority, new { @placeholder = "Priority", @class = "form-control", @style = "width:250px;" })
            </td>
        </tr>
    </table>
}