@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Test2405.Models.UserModel
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<div id="login-div" style="">
    @using (Html.BeginForm("Authorize", "Login", FormMethod.Post))
    {
    <table>
        <tr>
            <td style="text-decoration:underline"> FFF Museum Mobile App CMS </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Username) :
            </td>
            <td>
                @Html.EditorFor(model => model.Username)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(model => model.Username)</td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Domain) :
            </td>
            <td>
                @Html.EditorFor(model => model.Domain)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(model => model.Domain)</td>
        </tr>
        <tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Password) :
            </td>
            <td>
                @Html.EditorFor(model => model.Password)
            </td>
        </tr>
        <tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(model => model.Password)</td>
        </tr>
        <tr>
            <td colspan="2">
                <label class="field-validation-error">@Html.DisplayFor(model => model.LoginErrorMessage)</label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="Submit" name="" value="Login" />
            </td>
        </tr>
    </table>
    }
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>